<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>About Me</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Sarah Dombroski</h1>
        <div id="imageAndInfo">
            <div id="personalInformation">
                <p id="personalParagraph">I am a computer science major, with a minor in web design and development. I graduate this semester. I have recently completed my internship with INL. I am currently planning a wedding, and am getting married just a month before I graduate.</p>
                <p>Some things I am interested in are:</p>
                <ul>
                    <li>Reading</li>
                    <li>Music</li>
                    <li>Dancing</li>
                    <li>Piano</li>
                    <li>Movies</li>
                    <li>Baking</li>
                    <li>Fancy Lettering</li>
                </ul>
            </div>
            <div id="personalImage">
                <img src="/images/sarahphoto.jpg" alt="A photo of me."/>
            </div>
        </div>
    </main>
</body>
</html>